/* You can add global styles to this file, and also import other style files */
#board p {
	margin: 0px;
}
.MarquiseDeCat {
	background-color: orange;
}
.EyrieDynasties {
	background-color: rgb(111 111 255);
}
.WoodlandAlliance {
	background-color: green;
}
.Vagabond {
	background-color: rgb(137 137 125);
}
.LizardCult {
	background-color: yellow;
}
.RiverfolkCompany {
	background-color: turquoise;
}
.UndergroundDuchy {
	background-color: chocolate;
}
.CorvidConspiracy {
	background-color: darkorchid;
}
.LordOfTheHundreds {
	background-color: red;
}
.KeepersInIron {
	background-color: rgb(103, 95, 95);
	color: white;
}

#game {
	display: flex;
}

.highlightedClearing.clearing {
	border: 20px solid cyan;
	animation: border-pulsate 2s infinite;
}

.mouseClearing div.clearingSuit {
	background-color: orange;
}

.foxClearing div.clearingSuit {
	background-color: red;
}

.rabbitClearing div.clearingSuit {
	background-color: yellow;
}

.clearingHeaderWrapper div {
	/* display: inline-block; */
	border-bottom: 1px black solid;
}

.clearingHeaderWrapper div.clearingId {
	float: left;
	width: 15px;
	text-align: center;
}

.clearingHeaderWrapper div.clearingSuit {
	padding-left: 2px;
	overflow: hidden;
	text-align: center;
}

.pieceGrouping {
	padding-left: 2px;
}

@keyframes border-pulsate {
	0% {
		border-color: rgba(0, 255, 255, 1);
	}
	50% {
		border-color: rgba(0, 255, 255, 0);
	}
	100% {
		border-color: rgba(0, 255, 255, 1);
	}
}
