/* You can add global styles to this file, and also import other style files */
html {
  background-color: rgba(0, 0, 0, 0.276);
}
#board p {
  margin: 0px;
}
#game {
  display: flex;
  flex-wrap: wrap;
}
#message {
  text-align: center;
}
.MarquiseDeCat {
  background-color: orange;
}
.EyrieDynasties {
  background-color: #6f6fff;
}
.WoodlandAlliance {
  background-color: green;
}
.Vagabond {
  background-color: #89897d;
}
.LizardCult {
  background-color: yellow;
}
.RiverfolkCompany {
  background-color: turquoise;
}
.UndergroundDuchy {
  background-color: chocolate;
}
.CorvidConspiracy {
  background-color: darkorchid;
}
.LordOfTheHundreds {
  background-color: red;
}
.KeepersInIron {
  background-color: #675f5f;
  color: white;
}
.playerBoard {
  border: 1px solid black;
  width: 500px;
}
.decreeRow div {
  height: 15px;
  width: 15px;
  display: "inline";
}
.decreeRow td {
  width: 25%;
  background-color: white;
}
.decreeRow td .Bird {
  background-color: blue;
}
.decreeRow td .Rabbit {
  background-color: yellow;
}
.decreeRow td .Mouse {
  background-color: orange;
}
.decreeRow td .Fox {
  background-color: red;
}
